---
layout: default
---
<a class="btn btn-outline-secondary" href="/history_posts" role="button">
    <font style="color: black; font-size: 24px; font-family: Arial">Все мои посты</font>
</a>

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>


<a href="/history_posts"><font style="color: gray; font-size: 22px; font-family: Arial">Назад к списку постов</font></a>
<p></p>
<p></p>
<p></p>
